$primaryColor: #1d2b30;
$secondaryColor: #00a68f;
$blueColor: #0072b8;
$redColor: #f26444;
$whiteColor: #ffffff;
$blackColor: #000000;
$grayColor100: #f7f8fc;
$grayColor200: #f3f3f3;

$navWidth: 240px;
